@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* --primary-color:#e90e0e; */
@theme {
    --primary-color: #00b8db;
    --background-color:#52525f;
    --font-roboto: "Roboto", "sans-serif";
}

.songscards,
.playlist {
    overflow-x: auto;
    -ms-overflow-style: none;
    /* Hides scrollbar in Internet Explorer & Edge */
    scrollbar-width: none;
    /* Hides scrollbar in Firefox */
}

.songscards::-webkit-scrollbar,
.playlist::-webkit-scrollbar {
    display: none;
    /* Hides scrollbar in Chrome, Safari, and Edge */
}



.right-pannel {
    --sb-track-color: #232E33;
    --sb-thumb-color: var(--primary-color);
    --sb-size: 11px;
}

/* Custom Scrollbar for Desktop */
@media (min-width: 768px) { 
    .right-pannel::-webkit-scrollbar {
        width: var(--sb-size);
    }

    .right-pannel::-webkit-scrollbar-track {
        background: var(--sb-track-color);
        border-radius: 3px;
    }

    .right-pannel::-webkit-scrollbar-thumb {
        background: var(--sb-thumb-color);
        border-radius: 10px;
    }

    @supports not selector(::-webkit-scrollbar) {
        .right-pannel {
            scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
        }
    }
}

/* Hide Scrollbar on Mobile */
@media (max-width: 767px) { 
    .right-pannel {
        scrollbar-width: none; /* For Firefox */
        -ms-overflow-style: none; /* For IE and Edge */
    }

    .right-pannel::-webkit-scrollbar {
        display: none; /* For Chrome, Safari, and Opera */
    }
}


/* From Uiverse.io by Creatlydev */ 
.toggle {
  background-color: #fff;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  box-shadow: 0 0 50px 20px rgba(0, 0, 0, .1);
  line-height: 1;
}

.input {
  display: none;
}

.icon {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  transition: transform 500ms;
}

.icon--moon {
  transition-delay: 200ms;
}

.icon--sun {
  transform: scale(0);
}

#switch:checked + .icon--moon {
  transform: rotate(360deg) scale(0);
}

#switch:checked ~ .icon--sun {
  transition-delay: 200ms;
  transform: scale(1) rotate(360deg);
}

@media screen and (max-width:576px){
    .toggle {
        width: 33px;
        height: 33px;
      }
    .icon--sun svg {
        transform: scale(0.6);
    }
    .icon--moon svg{
        transform: scale(0.6);
    }
}
